@charset "UTF-8";
@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 700;
  src: local("DMSans bold"), local("DMSans-bold");
  src: url(/webroot/fonts/DMSans-Bold.woff2) format(woff2), url(/webroot/fonts/DMSans-Bold.woff) format(woff); }

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 700;
  src: local("DMSans bold italic"), local("DMSans-BoldItalic");
  src: url(/webroot/fonts/DMSans-BoldItalic.woff2) format(woff2), url(/webroot/fonts/DMSans-BoldItalic.woff) format(woff); }

@font-face {
  font-family: "DMSans";
  font-style: normal;
  src: local("DMSans italic"), local("DMSans-italic");
  src: url(/webroot/fonts/DMSans-Italic.woff2) format(woff2), url(/webroot/fonts/DMSans-Medium.woff) format(woff); }

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 400;
  src: local("DMSans regular"), local("DMSans-regular");
  src: url(/webroot/fonts/DMSans-Regular.woff2) format(woff2), url(/webroot/fonts/DMSans-Regular.woff) format(woff); }

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-size: medium;
  src: local("DMSans medium"), local("DMSans-medium");
  src: url(/webroot/fonts/DMSans-Medium.woff2) format(woff2), url(/webroot/fonts/DMSans-Medium.woff) format(woff); }

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 400;
  src: local("DMSans mediumItalic"), local("DMSans-MediumItalic");
  src: url(/webroot/fonts/DMSans-MediumItalic.woff2) format(woff2), url(/webroot/fonts/DMSans-MediumItalic.woff) format(woff); }

@font-face {
  font-family: "DMSerifDisplay";
  font-style: normal;
  font-size: medium;
  src: local("DMSerifDisplay regular"), local("DMSerifDisplay-regular");
  src: url(/webroot/fonts/DMSerifDisplay-Regular.woff2) format(woff2), url(/webroot/fonts/DMSerifDisplay-Regular.woff) format(woff); }

@font-face {
  font-family: "DMSerifDisplay";
  font-style: normal;
  font-weight: 400;
  src: local("DMSerifDisplay italic"), local("DMSerifDisplay-Italic");
  src: url(/webroot/fonts/DMSerifDisplay-Italic.woff2) format(woff2), url(/webroot/fonts/DMSerifDisplay-Italic.woff) format(woff); }

h1 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF; }

.contents a {
  font-family: "DM Sans";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5); }

h2 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 64px;
  color: #000000; }

html {
  font-family: "DM Sans";
  font-size: 16px; }

body {
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 700;
  src: local("DMSans bold"), local("DMSans-bold");
  src: url(/webroot/fonts/DMSans-Bold.woff2) format(woff2), url(/webroot/fonts/DMSans-Bold.woff) format(woff); }

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 700;
  src: local("DMSans bold italic"), local("DMSans-BoldItalic");
  src: url(/webroot/fonts/DMSans-BoldItalic.woff2) format(woff2), url(/webroot/fonts/DMSans-BoldItalic.woff) format(woff); }

@font-face {
  font-family: "DMSans";
  font-style: normal;
  src: local("DMSans italic"), local("DMSans-italic");
  src: url(/webroot/fonts/DMSans-Italic.woff2) format(woff2), url(/webroot/fonts/DMSans-Medium.woff) format(woff); }

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 400;
  src: local("DMSans regular"), local("DMSans-regular");
  src: url(/webroot/fonts/DMSans-Regular.woff2) format(woff2), url(/webroot/fonts/DMSans-Regular.woff) format(woff); }

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-size: medium;
  src: local("DMSans medium"), local("DMSans-medium");
  src: url(/webroot/fonts/DMSans-Medium.woff2) format(woff2), url(/webroot/fonts/DMSans-Medium.woff) format(woff); }

@font-face {
  font-family: "DMSans";
  font-style: normal;
  font-weight: 400;
  src: local("DMSans mediumItalic"), local("DMSans-MediumItalic");
  src: url(/webroot/fonts/DMSans-MediumItalic.woff2) format(woff2), url(/webroot/fonts/DMSans-MediumItalic.woff) format(woff); }

@font-face {
  font-family: "DMSerifDisplay";
  font-style: normal;
  font-size: medium;
  src: local("DMSerifDisplay regular"), local("DMSerifDisplay-regular");
  src: url(/webroot/fonts/DMSerifDisplay-Regular.woff2) format(woff2), url(/webroot/fonts/DMSerifDisplay-Regular.woff) format(woff); }

@font-face {
  font-family: "DMSerifDisplay";
  font-style: normal;
  font-weight: 400;
  src: local("DMSerifDisplay italic"), local("DMSerifDisplay-Italic");
  src: url(/webroot/fonts/DMSerifDisplay-Italic.woff2) format(woff2), url(/webroot/fonts/DMSerifDisplay-Italic.woff) format(woff); }

h1 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF; }

.contents a {
  font-family: "DM Sans";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5); }

h2 {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 64px;
  color: #000000; }

.masthead {
  background: #434CCC;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; }

.contents {
  background: rgba(67, 76, 204, 0.05);
  padding: 2rem; }

.contents > a::before {
  content: "â†";
  padding-inline-end: 10px; }

.inner {
  padding-block-start: 2rem; }

.first-inner p {
  font-size: 1.2rem;
  line-height: 2rem; }

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  border-radius: 5px; }

figure ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr); }

figure {
  margin: 0;
  padding: 0; }

figure > ul {
  padding: 0; }

figure > ul > li {
  margin: 9px; }

figure > ul > li:nth-child(1) {
  grid-column: 6 / 1; }

figure > ul > li:nth-child(2) {
  grid-column: 1 / 3; }

figure > ul > li:nth-child(3) {
  grid-column: 3 / 5;
  opacity: 0.5; }

figure > ul > li:nth-child(4) {
  grid-column: 5 / 7;
  opacity: 0.5; }

.contents-details {
  padding-block-start: 3rem; }

.contents-details ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  padding: 0; }

.details-heading {
  color: rgba(0, 0, 0, 0.5); }

.details-paragraph {
  font-weight: 700; }

.last-inner h2 {
  font-size: 2.5rem; }

.information1 {
  font-size: 1.2rem;
  line-height: 2rem; }

.information2 {
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.4rem; }

.media-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2rem;
  padding-inline-start: 0; }

.media-link li {
  padding-inline-end: 10px; }
