@import "scss/variable/variables";
// All the contents codes go here
.contents {
    padding-block-start: 2rem;
    padding: 14px;
    a {
        color: rgba(0, 0, 0, 0.5);
    }
}

.contents>a::before {
    content: "←";
    padding-inline-end: 10px;
}

// this inner is child of the contents and it has three children, which are first inner, contents details and the last inner.
.inner {
    padding-block-start: 2rem;
    .first-inner p {
        // the first inner contains a header, a paragraph and then figure, which has four lists of images 
        font-size: 1.2rem;
        line-height: 2rem;
    }
}

img {
    max-width: 100%;
    border-radius: 5px;
}

.mySlides {
    display: none;
}

.show {
    display: block;
    animation: fadeIn .2s linear;
}

.demo {
    opacity: 0.6;
    transition: .5s;
}

.demo:hover {
    opacity: 1;
}

.active {
    opacity: 1;
    transform: scale(.8);
    transition: .3s;
}

figure {
    margin: 0;
}

.mySlides img {
    width: 100%;
    padding: 0;
}

.numbertext {
    animation: fadeOut 3s linear;
    opacity: 0;
    color: #f2f2f2;
    font-size: 1rem;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

figure {
    position: relative;
}

#sliderImage-section {
    display: -webkit-box;
    overflow-x: hidden;
    padding-inline-start: 0;
}

// Here is the second inner-content or he details
.contents-details {
    padding-block-start: 3rem;
}

.contents-details ul {
    @include grid();
    column-gap: 2rem;
    padding: 0;
}

.details-heading {
    color: rgba(0, 0, 0, 0.5);
}

.details-paragraph {
    font-weight: 700;
}

// Here is the last inner content goes
.last-inner h2 {
    font-size: 2.5rem;
}

.information1 {
    font-size: 1.2rem;
    line-height: 2rem;
}

.information2 {
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.4rem;
}

.media-link {
    @include flex-element();
    justify-content: flex-start;
    padding: 2rem;
    padding-inline-start: 0;
    ;
}

.media-link li {
    padding-inline-end: 10px;
}

@media (min-width: 800px) {
    .contents {
        max-width: 81.25%;
        margin: auto;
        padding: 14px;
    }
    .contents a {
        margin-block-start: 49px;
        // padding-inline-start: 135px;
    }
    .inner {
        // @include wrapping-margin();
    }
    .first-inner h2,
    .first-inner p {
        max-width: 50%;
    }
    #sliderImage-section {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 5px;
    }
    .inner {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
    .first-inner {
        grid-column: 1 / 5;
        grid-row: 1;
    }
    .contents-details {
        grid-column: 1 / 3;
        grid-row: 2;
        padding-block-start: 0;
        margin-block-start: 0;
    }
    .last-inner {
        grid-column: 3 / 5;
        grid-row: 2;
    }
    .last-inner h3 {
        margin-block-start: 0;
        padding-block-start: 1rem;
    }
    .media-link li a {
        padding-inline-start: 0;
        transition-property: all;
        transition-duration: 2s;
    }
    .media-link li a:hover {
        background-color: blue;
    }
}