@import "scss/variable/custom-property";
$fonts: ( ( family: "DMSans", weight: 700, style: normal, filename: "'DMSans-bold"), ( family: "DMSans", weight: 700, style: italic, filename: "'DMSans-BoldItalic"), ( family: "DMSans", style: normal, filename: "'DMSans-italic"), ( family: "DMSans", weight: 400, style: normal, filename: "'DMSans-regular"), ( family: "DMSans", style: normal, filename: "'DMSans-medium"), ( family: "DMSans", style: italic, filename: "DMSans-MediumItalic"), ( family: "DMSerifDisplay", weight: 400, style: normal, filename: "DMSerifDisplay-regular"), ( family: "DMSerifDisplay", weight: 400, style: Italic, filename: "DMSerifDisplay-Italic"), );
h1,
h2,
h3,
h4 {
    font-family: "DM Serif Display";
}

h2,
h3,
.form label,
h4 {
    color: var(--primary-color);
}

h1 {
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.contents a,
.latest,
.inner-text>p {
    line-height: 24px;
}

h2 {
    font-size: 52px;
    line-height: 64px;
}

h3 {
    font-size: 40px;
    line-height: 48px;
}

.form label {
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    padding-inline-start: 5px;
    text-transform: uppercase;
}

h4 {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 32px;
}

h5 {
    font-size: 16px;
}

@media (min-width: 1000px) {
    h2 {
        font-size: 72px;
        line-height: 80px;
    }
    h3 {
        font-size: 52px;
        line-height: 64px;
    }
}