footer {
    padding-block-start: 75px;
    padding-block-end: 28px;
}

.inner-text {
    margin: 1rem;
}

.inner-text>p {
    color: rgba(0, 0, 0, 0.5);
}

// Home / inner link
.home {
    padding: 0;
    margin: 1rem;
}

.home li:nth-of-type(1) {
    padding-block-end: 1.5rem;
}

.home li {
    margin: 1rem;
    margin-inline-start: 0;
}

.home li a:hover {
    background: #fff;
}

.home li:nth-of-type(1) a {
    color: #000000;
    font-weight: 700;
}

// inner post
.post-list {
    padding: 69px;
    padding-inline-start: 0;
}

.first-post,
.second-post {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem;
    gap: 1rem;
}

.post-list p,
.grey-link {
    color: rgba(0, 0, 0, 0.5);
}

time {
    font-size: 12px;
    color: #000000;
    font-weight: 700;
}

// last part of footer, I called it as a editor
.editor {
    padding-block-start: 26px;
    border-top: 1px solid lightgray;
    padding-inline-start: 14px;
}

.editor a {
    color: rgba(0, 0, 0, 0.5);
}