footer {
    margin: 1rem;
    padding-block-start: 75px;
}

.inner-text {
    margin: 1rem;
}

.inner-text>p {
    color: rgba(0, 0, 0, 0.5);
}

// Home / inner link
.home {
    padding: 0;
    margin: 1rem;
}

.home li:nth-of-type(1) {
    padding-block-end: 1.5rem;
}

.home li {
    margin: 1rem;
    margin-inline-start: 0;
}

.home li:nth-of-type(1) a {
    color: #000000;
    font-weight: 700;
}

// inner post
.inner-post {
    padding-block-start: 79px;
}

.post-list {
    padding: 0;
    margin: 1rem;
}

.post-list li {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    row-gap: 2rem;
    gap: 2rem;
}

.post-list>li img {
    display: block;
    width: 100%;
    height: 100%;
}